body {
  background-color: black;
  color: white;
  margin-top: 75px;
}

.w3-bar-block {
  margin-right: 20px;
}

#dlpy {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px;
}

#dlpy_side {
  background-color: green;
}

#vsc {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px;
}
#vsclinks_side {
  background-color: red;
}
#vscext {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px;
}

#extinst_side{
  background-color: blue;
}

#py4elinks_side{
  background-color:  gray;
}

#py4e {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 5px;
  flex-direction: column;
} 

#py4elinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 125px;
  margin-right: 125px;
  padding-left: 100px;
  padding-right: 100px;
}


button {
  display: flex;
  justify-content: center;
  width: 125px;
  height: 100px;
  margin: 5px;
}

#wrapper{
  padding: .25px;
  background-color: purple;
}

#extinst{
  height: 100%;
  width: 100%;
}

#cheat {
  background-color: teal;
  display: flex;
  flex-direction: column;
}

#cheat_side{
  background-color: teal;
}

h1, h2, #oops, #extinst, a {
  display: flex;
  justify-content: center;
}

#mySidebar {
  z-index: 3;
  width: 250px;
  font-weight: bold;
  color: white;
  background-color: darkorange;
}

a {
  color: white;
}


#topBar {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: darkorange;
  margin-bottom: 40px;
}

.w3-container {
  background-color: black;
}

@media (max-width: 992px) {
  .w3-sidebar.w3-collapse {
    display: none;
  }
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .w3-auto {
    max-width: 90%;
  }
}

#mysidebar .main {
  margin-left: 10%;
  margin-right: 10%;
}

.w3-bar-block a:hover {
  background-color: #deac2f;
}

iframe{
  max-width: 100%;
  width: 80%;
  margin-left: 60px;
}

#shots img {
  margin: 5px;
}

#shell, #shell_side {
  background-color: rgba(146, 144, 15, 0.692);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card{
  display: inline-block;
}

.card a img {
  width: 90%;
  height: 90%;
}

footer {
  height: 50px;
}

#dlpylinks, #vsclinks {
  display: flex;
  flex-direction: row;
}

.w3-sidebar{
  margin-right: 125px;
}

#pd, #pd_side {
  color: black;
  background-color: white;
}

#pd:hover, #pd_side:hover {
  color: white;
  background-color: black;
}

#shell_side:hover a, #shell_side:hover {
  background-color: lightgreen;
}